html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}
.js .deck-container {
  visibility: hidden;
}
.ready .deck-container {
  visibility: visible;
}
.touch .deck-container {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

.deck-loading {
  display: none;
}

.slide {
	width: auto;
	min-height: 100%;
	position: relative;
	background-color: #ECECEC;
	background-image: url(G:%5Cdeck.js-latest%5Cintroduction%5CCode.jpg);
}

.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em;
}

.deck-current {
  z-index: 2;
}

.slide .slide {
	visibility: hidden;
	position: static;
	min-height: 0;
	color: #00F;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.deck-child-current {
  position: static;
  z-index: 2;
}
.deck-child-current .slide {
  visibility: hidden;
}
.deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
  visibility: visible;
}
